<div class="layui-form" lay-filter="address-form" id="address-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">用户id</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="userid" value="{{ d.params.userid || '' }}" lay-verify="required" placeholder="请输入用户id" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">收货人姓名</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="shouname" value="{{ d.params.shouname || '' }}" lay-verify="required" placeholder="请输入收货人姓名" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">收货人手机号</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="shouphone" value="{{ d.params.shouphone || '' }}" lay-verify="required" placeholder="请输入收货人手机号" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所在地区</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="shouarea" value="{{ d.params.shouarea || '' }}" lay-verify="required" placeholder="请输入所在地区" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">详细地址</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="shouaddress" value="{{ d.params.shouaddress || '' }}" lay-verify="required" placeholder="请输入详细地址" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否删除N未删Y已删</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="deleted" value="{{ d.params.deleted || '' }}" lay-verify="required" placeholder="请输入是否删除N未删Y已删" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="remark" value="{{ d.params.remark || '' }}" lay-verify="required" placeholder="请输入备注" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <script type="text/html" template>
        <input type="hidden" name="id" value="{{ d.params.id|| '' }}">
    </script>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="address-form-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>
<script>
    layui.use([ 'admin', 'form', 'upload' ], function() {
        var $ = layui.$, form = layui.form, upload = layui.upload;

        form.render();//使select可以显示option
        //-------------文件上传开始----------
        upload.render({
            elem : '#address-upload-address',
            url : '/address/upload',
            done : function(res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                console.log(res.data.src);
                document.getElementById("img_url").value = res.data.src;//
            }
        });
        //-------------文件上传结束----------
    })
</script>
